.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Modal content */
.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
}


/* Modal header */
.modal-content h2 {
    margin: 0;
    margin-bottom: 20px;
}

/* Modal select and button */
.modal-content select,
.modal-content button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 8px;
    font-size: 16px;
}

/* Modal button styles */
.modal-content button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal-close {
    position: absolute;
    background-color: #4CAF50;
    color: white;
    top: 10px;
    right: 25px;
    width: 25px;
    text-align: center;
    font-weight: bolder;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: #2196F3;
}